<h1>Edit <%= @question.test.title %> question</h1>

<%= form_with model: [@test, @question], local: true do |form| %>
  <%= render 'errors', resource: @question %>
  <p>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </p>

  <%= form.submit %>
<% end %>
