<h2><%= t('.sign_up') %></h2>

<div class="card border-primary">
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <p>
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </p>

        <p>
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </p>

        <p>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </p>

        <p>
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </p>

        <p>
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </p>
      </div>

      <%= f.submit t('.register_button'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
