<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.success? %>
  <h3><%= t('.score_header') %> <div style="color: green"><%= @test_passage.score %>%</div></h3>
  <h4><%= t('.success_text') %></h4>
<% else %>
  <h3>You scored <div style="color: red"><%= @test_passage.score %>%</div></h3>
  <h4><%= t('.failure_text') %></h4>
<% end %>

<br>
<br>
<%= link_to t('.all_tests'), tests_path %>
<br>
