<h1><%= t('.header', title: @question.body) %></h1>

<table>
  <tr>
    <th><%= t('general.table_body') %></th>
    <th colspan="2"><%= t('general.table_actions') %></th>
  </tr>
  <%= render @answers %>
</table>
<p>
<%= link_to t('.new_answer_link'), new_admin_question_answer_path %> | <%= link_to t('general.back_link'), admin_test_questions_path(@question.test) %>
</p>
