<h1><%= t('.header', title: @test.title) %></h1>

<table>
  <tr>
    <th><%= t('general.table_body') %></th>
    <th colspan="3"><%= t('general.table_actions') %></th>
  </tr>
  <%= render @questions %>
</table>
<p>
<%= link_to t('.new_question_link'), new_admin_test_question_path %> | <%= link_to t('general.back_link'), admin_root_path %>
</p>
