<h1><%= t('.header') %></h1>

<%= render 'shared/errors', resource: @test %>

<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      <%= t('general.table_title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th colspan="4"><%= t('general.table_actions') %></th>
  </tr>
  <%= render @tests %>
</table>
<br>
<br>

<p>
<%= link_to  t('.create_test_link'), new_admin_test_path %> | <%= t('.manage_categories_link') %> | <%= link_to t('.gists'), admin_gists_path %> | <%= link_to t('.badges'), admin_badges_path %>
</p>
